<nav class="navbar has-background-grey-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img src="../../weshop.svg" alt="WeShop" width="100">

        <a role="button" id="navbar-toggler" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu has-background-grey-dark">

      <div id="navbar-end" class="navbar-end">
        <a href="/products" class="navbar-item ">
          Products
        </a>
        <a href="/products/admin" class="navbar-item ">
          Products/Admin
        </a>
        <a href="/tagsedit/1" class="navbar-item ">
          Edit Tags
        </a>
        <a href="/upload" class="navbar-item ">
          Upload
        </a>
        <a href="/cartlist" class="navbar-item ">
          Cart List
        </a>
        <div class="navbar-item navbar-button">
          <a id="create-csv" class="button is-small">
            <strong>Create CSV</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>