<div class="container index">
  <section class="section hero">
    <div class="columns">
      <div class="column illustration is-6">
        <img src="images/people-shopping.svg" alt="Shopping basket with groceries">
      </div>

      <div class="statement is-6 column">
        <h1 class="title">
          WeShop
        </h1 class="title">
        <p>
          Shop all your groceries from the comfort of your home.
        </p>
        <p>Pool orders with roommates or neighbours and save on delivery fees. Even include those without access to the internet.</p>
        <p>Also helpful, if you need to assist residents of a group home facility with personal shopping and/or limit their choice of products.</p>
      </div>
    </div>

  </section>
  <h2 class="title front">How does it work?</h2>
  <section class="section main">
    

    <div class="columns">
      <div class="column statement is-6">
        <h3 class="title green">Import Product Links</h3>
        <p>
          Bookmark everyone's preferred products, collect the links in a json file and import the product data into your
          database.
        </p>

      </div>
      <div class="column illustration is-6">
        <img src="images/import-urls_json.png" alt="Product catalog">
      </div>
    </div>
<hr>
    <div class="columns">
      <div class="column illustration is-6">
        <img src="images/edit-tags.png" alt="Product catalog">
      </div>
      <div class="column statement is-6">
        <h3 class="title green">Tags</h3>
        <p>
          Categorize all products so that they can be filtered.
        </p>
                <p>
          Tag by product family, product range, and/or user.
        </p>
                        <p>
          Shop tags are provided by the system.
        </p>

      </div>

    </div>
<hr>
    <div class="columns">

      <div class="column statement is-6">
<h3 class="title green">Printed Product Listing</h3>
        <p>
          Generate a product catalog, and distribute it in pdf format to all participants as an order reference -
          including those without access to the internet.
        </p>
        <p>
          Collect everyone's orders.
        </p>
      </div>
      <div class="column illustration is-6">
        <img src="images/list_products.png" alt="Product catalog">
      </div>
    </div>
<hr>
    <div class="columns">
      <div class="column illustration is-6">
        <img src="images/list_products_clickthrough.png" alt="Article with links">
      </div>
      <div class="column statement is-6">
<h3 class="title green">Quick Ordering</h3>
        <p>
          Yes, you'll have to put in the joint order on the shop's website manually, but you can click through from
          every item of your catalog, nice and easy.
        </p>
      </div>

    </div>
<hr>
    <div class="columns">

      <div class="column statement is-6">
        <h3 class="title green">Quick Listing</h3>
        <p>
          Upon delivery, collect all products into a "cart list" with a simple click each, and enter the respective
          amounts per user.
        </p>
      </div>
      <div class="column illustration is-6">
        <img src="images/cartlist_itemclick_amounts.png" alt="Cart list line items">
      </div>
    </div>
<hr>
    <div class="columns">
      <div class="column illustration is-6">
        <img src="images/cartlist_totals_circle.png" alt="Cart list with totals">
      </div>
      <div class="column statement is-6">
        <h3 class="title green">Settlement Made Easy</h3>
        <p>
          No cumbersome calculations required.
        </p>
        <p>
          The tool will spit out all subtotals and the total cost for each party.
        </p>
      </div>

    </div>
<hr>
    <div class="columns">

      <div class="column statement is-6">
        <h3 class="title green">Nice and Clean Invoice</h3>
        <p>
          Print out the listing for your records.
        </p>
      </div>
      <div class="column illustration is-6">
        <img src="images/cartlist_pdf.png" alt="Printer, person hands out a print.">
      </div>
    </div>

  </section>
</div>